.home {
    text-align: center;
}

ul {
    list-style: none;
    padding-left: 0;
}

a.linker-button {
    min-width: 200px;
    margin-bottom: 8px;
}

img {
    width: 140px;
    border-radius: 50%;
}